# STOR 320: Introduction to Data Science
## 2024 Fall
## Project Proposal Group 9

## Project Roles

- **Creator:** Rita Luo , ritaluo@unc.edu, 730720015
- **Interpreter:** Conor Jones, conjon@unc.edu, 730665579
- **Interpreter:** Daniel Xu, danielxu@unc.edu, 730553878
- **Deliverer:** FIRSTNAME LASTNAME, Email, PID

## Datasets

[Flights](https://www.kaggle.com/datasets/mahoora00135/flights)  
[Hotel booking demand](https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand)

## Initial Questions (At least 10 questions)

- **Question 1:** What is the relationship between the number of flights and the number of hotel bookings by month?
- **Question 2:** Which is the best month to travel to avoid the peak season?
- **Question 3:** What association between flight delays and hotel cancellations?
- **Question 4:** How do weekday and weekend patterns differ for flights and hotel stays?
- **Question 5:** How do countries compare on hotel cancellation rate?
- **Question 6:** What is the relationship between the number of flights on a given day and the number of people staying at a hotel?
- **Question 7:** When is the worst time of day to depart based on delay statistics?
- **Question 8:** How do airlines compare on scheduling accuracy?
- **Question 9:** What is the association between lead time and cancellation for hotels?
- **Question 10:** which is the best month to travel to experience less of a delay?

In [2]:
import pandas as pd

In [10]:
flights_df = pd.read_csv('flights.csv')
hotels_df = pd.read_csv('hotel_bookings.csv')
pd.set_option('display.max_columns', None)

In [61]:
filtered_flights_df = flights_df.dropna()
filtered_flights_df

,id,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,name
0,0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00,United Air Lines Inc.
1,1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00,United Air Lines Inc.
2,2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00,American Airlines Inc.
3,3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00,JetBlue Airways
4,4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00,Delta Air Lines Inc.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336765,336765,2013,9,30,2240.0,2245,-5.0,2334.0,2351,-17.0,B6,1816,N354JB,JFK,SYR,41.0,209,22,45,2013-09-30 22:00:00,JetBlue Airways
336766,336766,2013,9,30,2240.0,2250,-10.0,2347.0,7,-20.0,B6,2002,N281JB,JFK,BUF,52.0,301,22,50,2013-09-30 22:00:00,JetBlue Airways
336767,336767,2013,9,30,2241.0,2246,-5.0,2345.0,1,-16.0,B6,486,N346JB,JFK,ROC,47.0,264,22,46,2013-09-30 22:00:00,JetBlue Airways
336768,336768,2013,9,30,2307.0,2255,12.0,2359.0,2358,1.0,B6,718,N565JB,JFK,BOS,33.0,187,22,55,2013-09-30 22:00:00,JetBlue Airways
336769,336769,2013,9,30,2349.0,2359,-10.0,325.0,350,-25.0,B6,745,N516JB,JFK,PSE,196.0,1617,23,59,2013-09-30 23:00:00,JetBlue Airways

In [63]:
usa_hotels = hotels_df[hotels_df['country'] == 'USA']
usa_hotels

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,0.0,0,BB,USA,Online TA,TA/TO,0,0,0,D,E,0,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
59,Resort Hotel,0,14,2015,July,27,2,0,2,2,0.0,0,BB,USA,Online TA,TA/TO,0,0,0,A,C,0,No Deposit,242.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-04
65,Resort Hotel,0,10,2015,July,27,3,0,2,2,2.0,0,BB,USA,Online TA,TA/TO,0,0,0,G,H,0,No Deposit,240.0,NaN,0,Transient,153.00,1,0,Check-Out,2015-07-05
92,Resort Hotel,0,9,2015,July,27,3,0,1,2,0.0,0,BB,USA,Online TA,TA/TO,0,0,0,C,C,0,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,2015-07-04
162,Resort Hotel,0,51,2015,July,28,6,1,3,2,0.0,0,BB,USA,Online TA,TA/TO,0,0,0,G,G,0,No Deposit,241.0,NaN,0,Transient,117.81,1,2,Check-Out,2015-07-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119104,City Hotel,0,15,2017,August,34,25,2,2,2,0.0,0,BB,USA,Direct,Direct,0,0,0,D,D,0,No Deposit,14.0,NaN,0,Transient,132.53,0,2,Check-Out,2017-08-29
119224,City Hotel,0,83,2017,August,35,28,1,3,1,0.0,0,BB,USA,Direct,Direct,0,0,0,D,D,4,No Deposit,14.0,NaN,0,Transient,147.68,0,0,Check-Out,2017-09-01
119234,City Hotel,0,189,2017,August,35,29,0,3,2,0.0,0,BB,USA,Offline TA/TO,TA/TO,0,0,0,A,B,1,No Deposit,42.0,NaN,0,Transient,80.10,0,1,Check-Out,2017-09-01
119325,City Hotel,0,147,2017,August,35,28,1,5,2,0.0,0,BB,USA,Direct,Direct,0,0,0,A,A,0,No Deposit,14.0,NaN,0,Transient,117.00,0,1,Check-Out,2017-09-03
119358,City Hotel,0,135,2017,August,35,30,1,4,2,0.0,0,BB,USA,Direct,Direct,0,0,0,D,D,0,No Deposit,14.0,NaN,0,Transient,143.10,0,1,Check-Out,2017-09-04